.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .upload-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #7a43a6;
    cursor: pointer;
  }
  
  .upload-form button:hover {
    background-color: #ececec;
  }

  .upload-video{
      margin-top: 40px;
  }
  
  @media (max-width: 600px) {
    .upload-form input {
      width: 95%;
    }
  }
  