.register-container {
  text-align: center;
  
  padding: 20px;
  background-color: #7a43a6; /* Purple background */
  color: white; /* White text color */
}

.register-container h1 {
  font-size: 2.5em;
}

.register-container p {
  font-size: 1.2em;
}

.register-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 60%;
}

.video-input,.keyword-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}
.keyword-input{
  height: 50px;
}

/* .label{
  text-align: left !important;
} */


.cta-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #7a43a6;
  font-size: 1em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ececec;
}

@media (max-width: 600px) {
  .register-container {
    padding: 10px;
  }

  input {
    width: 95%;
    
  }
}
